table {
  border: 1px solid black;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 3rem 0;
}

td {
  border: 1px solid black;
  max-width: 1000px;
  padding: 10px;
}

th {
  height: 30px;
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

.joinButton {
  text-align: center;
}

.joinButton button {
  padding: 0.3rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}
