.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 5px 2%;
}

.items-list {
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 20px 2% 0 0;
}

.items-list > li {
  padding: 25px;
  border-bottom: 1px solid gray;
}

.items-list > li:last-child {
  border-bottom: none;
}
