.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 63px;
  background-color: white;
  border-bottom: 1px solid gray;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3% 20px 3%;
}

.logoContainer {
  width: 50%;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.linksContainer {
  width: 25%;
}

.nav-elements {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.links {
  text-decoration: none;
}

.activelinks {
  text-decoration: underline;
}

.nav-elements > li:nth-child(3) {
  border-right: 1px solid gray;
}
